<div class="cell small-3" id="controllers">
    <ul class="whiteaccordion accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    {%  if data_is_ready %}
    <li class="accordion-item is-active text-center" data-accordion-item>
        <a href="#" class="accordion-title">Dimensions</a>
        <div class="accordion-content" data-tab-content id="dimensions_changer">
        </div>
    </li>
    <li class="accordion-item text-center" data-accordion-item>
        <a href="#" class="accordion-title">Color Data</a>
        <div class="accordion-content" data-tab-content id="color_changer">
        </div>
    </li>
    {% if type == "datavisualization" and group_vis == False %}
    <li class="accordion-item text-center" data-accordion-item>
        <a href="#" class="accordion-title">Clustering</a>
        <div class="accordion-content" data-tab-content id='clusterrelated'>
            <form onsubmit="add_parameters(this);" action="" autocomplete="off" id="cluster_form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="formt" value="cluster">
            {% if saveid %}
            <input type="hidden" name="fdid" value="{{ saveid }}">
            {% endif %}
            {% if filename %}
            <input type="hidden" name="fname" value="{{ filename|safe }}">
            {% endif %}
            <div class="form-group" id="clustering">
            </div>
            <input type="submit" class="button small" value="Clusterize" id="clusterize_button">
        </form>
        </div>
    </li>
    {% endif %}                      
    {% if type == "site2site" %}
    <li class="accordion-item text-center" data-accordion-item>
        <a href="#" class="accordion-title">Data on Scene</a>
        <div class="accordion-content" data-tab-content>
            <form id="data_on_scene">
                
            </form>
        </div>
    </li>
    {% endif %}
    {% endif %}
    <li class="accordion-item {% if not data_is_ready %}is-active{% endif %} text-left" data-accordion-item>
        <a href="#" class="accordion-title text-center">Visualization Settings</a>
        <div class="accordion-content" data-tab-content  id="visualizationSettings">
        </div>
    </li>
    {% if startedat %}      
    <li class="accordion-item text-center" data-accordion-item>
        <a href="#" class="accordion-title">Benchmark</a>
        <div class="accordion-content" data-tab-content id="color_changer">
                <p><b>Server started working:</b> {{ startedat| date:'Y-m-d G:i:s'}}</p>
                <p><b>Server ended working:</b> {{ built| date:'Y-m-d G:i:s'}}</p>
                <p><b>Rendering started:</b> <script>
                    function dateTimePad(n) {
                        return n<10 ? '0'+n : n;
                    }
                    function printDateTime(now){
                        return now.getFullYear() +
                        "-" +
                        dateTimePad(now.getMonth()+1) +
                        "-" +
                        dateTimePad(now.getDate()) +
                        " " +
                        dateTimePad(now.getHours()) +
                        ":" +
                        dateTimePad(now.getMinutes()) +
                        ":" +
                        dateTimePad(now.getSeconds());
                    }
                    var curdate = new Date();
                    document.write(printDateTime(curdate));
                    document.addEventListener('readystatechange', event => {

                        if (event.target.readyState === "complete") {
                            document.getElementById('timerenderingended').innerText = printDateTime(new Date());
                        }

                    });
                </script></p>
                <p><b>Rendering ended:</b> <span id='timerenderingended'></span></p>

        </div>
    </li>
    {% endif %}
</ul>