<ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" data-tabs id="deeplinked-tabs">
{% if dataset_files %}
    <li class="tabs-title is-active"><a href="#serverfile" aria-selected="true">Choose File from Server</a></li>
    <li class="tabs-title"><a href="#upload">Upload File</a></li>
{% endif %}
{%  if data_is_ready %}
    <li class="tabs-title"><a href="#print">Print Dataset</a></li>
    <li class="tabs-title"><a href="#stats">Statistics</a></li>
    <li class="tabs-title"><a href="#corr">Correlations</a></li>
{% comment %} {% if type == "site2site" %}
    <li class="tabs-title"><a href="#xcoord">X-Coordinate</a></li>
    <li class="tabs-title"><a href="#ycoord">Y-Coordinate</a></li>
{% endif %} {% endcomment %}
{% if cluster_ready %}
    <li class="tabs-title"><a href="#clusters">Clusters</a></li>
{% endif %}
    <li class="tabs-title"><a href="#groups">Groups</a></li>
    <li class="tabs-title hide" id="multichoicelink"><a href="#multichoice">Chosen Data</a></li>
    <li class="tabs-title" style="display:none" id="selected_group_link"><a href="#selected_group">Selected Group</a></li>
{% endif %}
</ul>

<div class="tabs-content" data-tabs-content="deeplinked-tabs" id='deeplinked-content'>
    {% if dataset_files %}
    <div class="tabs-panel is-active" id="serverfile">
    <form action="" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="custom-file">
                    <input type="hidden" name="formt" value="filefromserver">
                    <select name="filename">
                        {% for fileonserver in dataset_files %}
                            {% if filename|safe == fileonserver.value|safe %}
                                <option value="{{ fileonserver.value|safe }}" selected>{{ fileonserver.name|safe }}</option>
                            {% else %}
                                <option value="{{ fileonserver.value|safe }}">{{ fileonserver.name|safe }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
            </div>
            {% if type == "datavisualization" %}
                <div id="serverfileLOD"></div>
            {% endif %}
            <input type="submit" class="button small vap-controllers" value="Submit">
        </form>
    </div>
    {% endif %}
    <div class="tabs-panel" id="upload">
        <form action="" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <input type="hidden" name="formt" value="newfile">
            <label for="customFile" class="button small">Upload File</label>
            <input type="file" id="customFile" class="show-for-sr" name="customFile">
            <div id="newfileLOD"></div>
            <input type="submit" class="button small" value="Submit">
        </form>
    </div>
{%  if data_is_ready %}
    <div class="tabs-panel" id="print">
        <button type="button" class="button small" id="printAllBtn">Display All</button>
    </div>
    <div class="tabs-panel" id="stats"></div>
    <div class="tabs-panel" id="corr">
        <div id="corr-matrix">
            <div id="legend"></div>
        </div>
    </div>
    <div class="tabs-panel" id="corr">
        <div id="corr-matrix">
            <div id="legend"></div>
        </div>
    </div>
    {% if type == "site2site" %}
    <div class="tabs-panel" id="xcoord"></div>
    <div class="tabs-panel" id="ycoord"></div>
    {% endif %}
    {% if cluster_ready %}
    <div class="tabs-panel" id="clusters">
        <div id="radar_chart_all"></div>
        <div id="radar_chart_single" class="row"></div>
        <div id="cluster_stat"></div>
        <button type="button" class="button small" id="printBtn">Print Results</button>
    </div>
    {% endif %}
    <div class="tabs-panel" id="groups">
        <div id="radar_chart_groups"></div>
    </div>
    <div class="tabs-panel" id="multichoice"></div>
    <div class="tabs-panel" id="selected_group"></div>
{% endif %}
</div>