{% extends "_base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/spectrum.css" %}">
    <link rel="stylesheet" href="{% static "css/parcoords.css" %}">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.0/css/scroller.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div class="vap_container">
        <div class="grid-container fluid">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    {% include "_topmenu.html" %}
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
            {% include "_leftsidemenu.html" %}
            <div class="cell auto mainPicture" id="picture">
                <div id="gui_container"></div>
            </div>
    </div>

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.foundation.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src='https://unpkg.com/simple-statistics@6.1.1/dist/simple-statistics.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.19.1/URI.min.js"></script>

<script src="{% static "js/three.js" %}"></script>
<script src="{% static "js/controls/OrbitControls.js" %}"></script>
<script src="{% static "js/controls/DragControls.js" %}"></script>
<script src="{% static "js/VAP/sup_func.js" %}"></script>
<script src="{% static "js/VAP/cookies.js" %}"></script>
<script src="{% static "js/VAP/main.js" %}"></script>
<script src="{% static "js/VAP/datavisualization.js" %}"></script>
<script src="{% static "js/VAP/statCharts.js" %}"></script>
<script src="{% static "js/dat.gui.min.js" %}"></script>
<script src="{% static "js/VAP/correlation_matrix.js" %}"></script>
<script src="{% static 'js/foundation/vendor/foundation.min.js' %}"></script>
<script src="{% static "js/spectrum.js" %}"></script>
<script src="{% static "js/plotly-1.47.4.min.js" %}"></script>
<script src="{% static "js/VAP/dataset_stat.js" %}"></script>

<script>
    var preview_url = "{{ PREVIEW_URL }}";
    var next_group_url = "{{ NEXT_GROUP_URL|safe }}";
    var nan=0; {% comment %} TEMPORARY FIX, FOR SMALL GROUPS STATISTICS GIVES NAN {% endcomment %}
</script>
{% endblock %}
	<script>

		function onSceneResize() {
			scene.onResize();
		}

        $(document).ready(function() {
            $('#stats-table').DataTable();

        } );
		var scene = new DataVisualization(document.getElementById("picture"), 0.75);

        // Datasample Features Statistics
        {%  if data_uploaded is True %}

            var dsID = '{{ dsID }}';
            var num_records = {{ num_records }};
            var index_name = '{{ index_name }}';
            var features = {{ features|safe }};
            var lod_mode = '{{ lod_mode }}';
            var lod_activated = {{ lod_activated|yesno:"true,false" }};
            var lod_value = {{ lod_value }};

            var features_stat = new DatasetStats(dsID,
                                                 num_records,
                                                 index_name,
                                                 features,
                                                 lod_activated,
                                                 lod_value,
                                                 lod_mode);
            features_stat.display_features_panel("features_panel");

        {% endif %}

        function render() { scene.render(); }

		init();

		window.addEventListener( "resize", onSceneResize, false );

		function init() {
            {% if dim_names %}
                var dimNames = {{ dim_names|safe }};
                scene.setDimNames(dimNames);
            {% endif %}

            {% if index %}
                var index = {{ index|safe }};
                scene.setIndex(index);
            {% endif %}

            {% if norm_dataset %}
                var dataArray = {{ norm_dataset|safe }};
                var new_dataArray = fix_array(dataArray);
                scene.setDataArray(new_dataArray);
            {% endif %}

            {% if real_dataset %}
                var realData = {{ real_dataset|safe }};
                var new_realData = fix_array(realData);
                scene.setRealData(new_realData);
                {% if data_is_ready %}
                    printDataset(document.getElementById("print"), [index].concat(dimNames), new_realData, 10);
                {% endif %}
            {% endif %}

            {% if real_metrics %}
                var statistics_real = {{ real_metrics|safe }};
                scene.setRealStats(statistics_real);
                {% if data_is_ready %}
                    printStats(statistics_real, dimNames, "stats");
                {% endif %}
            {% endif %}

            {% if type == "datavisualization" %}
                {% if data_is_ready %}

                    var clustering_parameters = [
                        ['KMeans',
                            'KMeans',
                            {
                                'name': 'numberofclKMeans',
                                'label': 'Number of clusters',
                                'type': 'integer',
                                'attributes': [['placeholder', '5']],
                                'defvalue': '5',
                                'min': 1,
                                'max': 20
                            }],
                        ['MiniBatchKMeans',
                            'MiniBatchKMeans',
                            {
                                'name': 'numberofcl',
                                'label': 'Number of clusters',
                                'type': 'integer',
                                'attributes': [['placeholder', '5']],
                                'defvalue': '5',
                                'min': 1,
                                'max': 20
                            },
                            {
                                'name': 'batch_size',
                                'label': 'Number of samples in minibatch',
                                'type': 'integer',
                                'attributes': [['placeholder', '100']],
                                'defvalue': '100',
                                'min': 5,
                                'max': 99999
                            }],
                        ['DBSCAN',
                            'DBSCAN',
                            {
                                'name': 'min_samples',
                                'label': 'min_samples',
                                'type': 'integer',
                                'attributes': [['placeholder', '5']],
                                'defvalue': '5',
                                'min': 1,
                                'max': 200
                            },
                            {
                                'name': 'eps',
                                'label': 'epsilon',
                                'type': 'float',
                                'attributes': [['placeholder', '0.5']],
                                'defvalue': '0.5',
                                'min': 0,
                                'max': 50
                            }]
                    ];

                    var curr_algorithm;
                    var curr_parameters;

                    {%  if algorithm %}
                        curr_algorithm = "{{ algorithm }}";
                        curr_parameters = {{ parameters | safe }};
                    {% endif %}
                    {% if group_vis is False %}
                        createClusterElements(
                            document.getElementById('clustering'),
                            document.getElementById('cluster_form'),
                            clustering_parameters,
                            curr_algorithm,
                            curr_parameters);
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if data_is_ready and corr_matrix %}
                var corr_matrix = {{ corr_matrix|safe }};
                MatrixPlotly({
                    container : 'corr-matrix',
                    data      : corr_matrix,
                    labels    : dimNames
                });
            {% endif %}

            {% if visualparameters %}
                scene.loadVisualParameters({{ visualparameters|safe }});
            {% endif %}

            {% if aux_dataset %}
                var auxData = {{ aux_dataset|safe }};
                var new_auxData = fix_array(auxData);
                scene.setAuxiliaryData(new_auxData);
                var auxNames = {{ aux_names|safe }};
                scene.setAuxiliaryColumns(auxNames);
            {% endif %}

            var lodData = [];
            {% if lod_data %}
                lodData = {{ lod_data|safe }};
                scene.setLOD(lodData);
            {% endif %}

            {% if cluster_ready %}
                var clusters = {{ clusters|safe }};
                scene.setClusters(clusters);
            {% else %}
                scene.setClusters([0]);
            {% endif %}
            scene.clusters_color_scheme = scene.createColorScheme();
            {% if cluster_ready %}
               cluster_selector(scene.clusters_color_scheme, "cluster_stat");
               drawParallelCoordinates("radar_chart_all", scene.realData, scene.clusters, scene.clusters_color_scheme, scene.dimNames);
            {% endif %}

            {% if norm_dataset %}
                var objects = [];
                for ( var i = 0; i < new_dataArray.length; i++ ){
                    {% if cluster_ready %}
                        objects.push(scene.createSphere( new_dataArray[ i ], new_realData[ i ], clusters[ i ], new_auxData[ i ], lodData[ i ] ));
                    {% else %}
                        objects.push(scene.createSphere( new_dataArray[ i ], new_realData[ i ], 0, new_auxData[ i ], lodData[ i ] ));
                    {% endif %}
                }
            {% endif %}

            {%  if data_is_ready %}
                {% if type == "site2site" %}
                    scene.createCoordinatesTables(document.getElementById('xcoord'), document.getElementById('ycoord'));
                {% elif type == "datavisualization" %}
                  var temp=scene.createNewGroupElement();
                  document.getElementById('color_changer').appendChild(temp);
                  var history_form = document.createElement("form");
                  history_form.setAttribute('id','history');
                  document.getElementById('color_changer').appendChild(history_form);
                  temp.ready();
                {% if cluster_ready %}
                    document.getElementById('clusterrelated').appendChild(scene.createResetClustersButton());
                {% endif %}
                {% endif %}
                scene.createControlElements(document.getElementById('dimensions_changer'), document.getElementById('visualizationSettings'), document.getElementById('multichoicelink'), document.getElementById('multichoice'), true);

            {% else %}
                scene.createControlElements(document.getElementById('dimensions_changer'), document.getElementById('visualizationSettings'), document.getElementById('multichoicelink'), document.getElementById('multichoice'), false);
            {% endif %}

            {% if dsID %}
                scene.setSource('{{ dsID|safe }}');
            {% endif %}
		}

        scene.controls.addEventListener('change', render);
	</script>
{% endblock %}

{% block helptext %}{% endblock %}

