{% extends "_base.html" %}
{% load staticfiles %}

{% block extra_css %}{% endblock %}

{% block body %}
    {% csrf_token %}
<div class="grid-x grid-padding-x">
  <div class="cell">
  <div class="card text-white bg-dark mb-3">
  <div class="card-body">
    <h2 class="card-title">InVEx for ATLAS</h2>
      <h5>Interactive Visual Explorer</h5>
  </div>
  </div>
  </div>
  </div>
    <div class="vap_container">
        <div class="grid-container fluid">
          <div class="grid-x grid-padding-x">
            <div class="cell">
                {% include "_topmenu.html" %}
            </div>
          </div>
        </div>
          <div class="row">
            <br/>
          </div>
        </div>
            <div class="grid-x grid-padding-x">
                  {% include "_leftsidemenu.html" %}
            </div>
            <div class="cell auto">
                <div class="grid-y">
                    <div class="cell mainPicture" id="picture">
                      <div id="gui_container"></div>
                    </div>
                  </div>
                </div>

            </div>


            </div>
            </div>
        </div>
	</div>
{% block extra_js %}
<script src="{% static "js/three.js" %}"></script>
<script src="{% static "js/controls/OrbitControls.js" %}"></script>
<script src="{% static "js/controls/DragControls.js" %}"></script>
<script src="{% static "js/VAP/sup_func.js" %}"></script>
<script src="{% static "js/VAP/cookies.js" %}"></script>
<script src="{% static "js/VAP/main.js" %}"></script>
<script src="{% static "js/VAP/datavisualization.js" %}"></script>
<script src="{% static "js/VAP/meshvisualization.js" %}"></script>
<script src="{% static "js/dat.gui.min.js" %}"></script>
<script src="{% static "js/VAP/correlation_matrix.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{#<script src="{% static 'js/foundation/vendor/jquery.js' %}"></script>#}
<script src="{% static 'js/foundation/vendor/foundation.min.js' %}"></script>
{#<script src="{% static "js/bootstrap.min.js" %}"></script>#}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
{% endblock %}
	<script>
		function onSceneResize() {
			scene.onResize();
		}

        $(document).ready(function() {
            $('#stats-table').DataTable();

        } );
    {% if xarray %}
    var scene = new MeshVisualization(document.getElementById("picture"), 0.75, 2, {{ xarray|safe }}, {{ yarray|safe }});
    {% else %}
    var scene = new MeshVisualization(document.getElementById("picture"), 0.75, 2, [], []);
    {% endif %}

		animate();
		init();

		window.addEventListener( "resize", onSceneResize, false );

		function init() {

            {% if type == "datavisualization" %}
            {% if data_is_ready %}
                clustering_parameters=[['KMeans', 'KMeans', {'name':'numberofcl', 'label':'Number of clusters', 'type':'integer', 'attributes':[['placeholder', '5']], 'defvalue':'5', 'min': 1, 'max': 20}],
                                    ['DBSCAN', 'DBSCAN', {'name':'min_samples', 'label':'min_samples','type':'integer', 'attributes':[['placeholder', '5']], 'defvalue':'5', 'min': 1, 'max': 200},
                                                         {'name':'eps', 'label':'epsilon','type':'float', 'attributes':[['placeholder','0.5']], 'defvalue':'0.5', 'min': 0, 'max': 50}
                                                         ]]

            var curr_algorithm;
            var curr_parameters;

            {%  if algorithm %}
            curr_algorithm = "{{ algorithm }}";
            curr_parameters = {{ parameters|safe }};
            {% endif %}
            createClusterElements(document.getElementById('clustering'), document.getElementById('cluster_form'), clustering_parameters, curr_algorithm, curr_parameters);
            {% endif %}
            {% endif %}

            {% if dim_names %}
            var dimNames = {{ dim_names_short|safe }};
            var fullDimNames = {{ dim_names|safe }};
            scene.setDimNames(fullDimNames);
            {% endif %}

            {% if index %}
            var index = {{ index|safe }};
            scene.setIndex(index);
            {% endif %}

            {% if norm_dataset %}
            var dataArray = {{ norm_dataset|safe }};
            var new_dataArray = fix_array(dataArray);
            scene.setDataArray(new_dataArray);
            {% endif %}

            {% if real_dataset %}
            var realData = {{ real_dataset|safe }};
            var new_realData = fix_array(realData);
            scene.setRealData(new_realData);
            printDataset(document.getElementById("print"), [index].concat(fullDimNames), new_realData, 10);
            {% endif %}

            {% if real_metrics %}
            var statistics_real = {{ real_metrics|safe }};
            printStats(statistics_real, dimNames);
            scene.setRealStats(statistics_real);
            {% endif %}

            {% if corr_matrix %}
            var corr_matrix = {{ corr_matrix|safe }};
			Matrix({
				container : '#corr-matrix',
				data      : corr_matrix,
				labels    : dimNames,
				start_color : '#ffffff',
				end_color : '#3498db'
			});
            {% endif %}

            {% if visualparameters %}
            scene.loadParameters({{ visualparameters|safe }});
            {% endif %}

            {% if aux_dataset %}
            var auxData = {{ aux_dataset|safe }};
            var new_auxData = fix_array(auxData);
            scene.setAuxiliaryData(new_auxData);
            var auxNames = {{ aux_names|safe }};
            scene.setAuxiliaryColumns(auxNames);
            {% endif %}

            {% if cluster_ready %}
            var clusters = {{ clusters|safe }};
            scene.setClusters(clusters);
            //scene.clusters_color_scheme = getColorScheme(clusters, scene.theme);
            {% else %}
            scene.setClusters([0]);
            //scene.clusters_color_scheme = getColorScheme([0], scene.theme);
            {% endif %}
            
			{% if norm_dataset %}
            var objects = [];
			for ( var i = 0; i < new_dataArray.length; i++ ){
                {% if cluster_ready %}
				objects.push(scene.createSphere( new_dataArray[ i ], new_realData[ i ], clusters[ i ], new_auxData[ i ]));
                {% else %}
				objects.push(scene.createSphere( new_dataArray[ i ], new_realData[ i ], 0, new_auxData[ i ] ));
				{% endif %}
			}
			{% endif %}
        
            {%  if data_is_ready %}
            
                {% if type == "site2site" %}
                scene.createCoordinatesTables(document.getElementById('xcoord'), document.getElementById('ycoord'));
                scene.createDataOnSceneElements(document.getElementById('data_on_scene'));
                {% endif %}
                  document.getElementById('color_changer').appendChild(scene.createNewGroupElement());
			scene.createControlElements(document.getElementById('dimensions_changer'), document.getElementById('visualizationSettings'), document.getElementById('multichoicelink'), document.getElementById('multichoice'), true);
            {% else %}
			scene.createControlElements(document.getElementById('dimensions_changer'), document.getElementById('visualizationSettings'), document.getElementById('multichoicelink'), document.getElementById('multichoice'), false);
            {% endif %}
            
            {% if saveid %}
            scene.setSource('{{ saveid|safe }}');
            {% endif %}

		}

		function animate() {
			scene.animate();
			requestAnimationFrame( animate );
		}
	</script>
{% endblock %}

{% block helptext %}{% endblock %}

