{% extends "_base.html" %}
{% load staticfiles %}
{#{% block page_title %} VAP {% endblock %}#}
{#{% block subtitle %}Visual analytics platform home{% endblock %}#}

{% block extra_css %}{% endblock %}

{% block body %}
    {% csrf_token %}
	<script> 
		var beginTime = (new Date()).getTime();
	
		{% if servertime %}
		var serverTime = {{ servertime }};
		{% endif %}
	</script>
  <div class="card text-white bg-dark mb-3">
  <div class="card-body">
    <h4 class="card-title">Visual Analytics Platform for ATLAS</h4>
  </div>
    </div>
    <div class="vap_container">
        <div class="container-fluid" id='topcontroller'>
          <div class="row">
            <div class="col">
                <ul class="nav nav-tabs" id="tabs" role="tablist">
                  {% if dataset_files %}
                  <li class="nav-item">
                    <a class="nav-link active" id="serverfile-tab" data-toggle="tab" href="#serverfile" role="tab" aria-controls="serverfile" aria-selected="true">Choose File from Server</a>
                  </li>
                  {% endif %}
                   <li class="nav-item">
                    <a class="nav-link {% if not dataset_files %}active{% endif %} " id="upload-tab" data-toggle="tab" href="#upload" role="tab" aria-controls="upload" aria-selected="true">Upload File</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="print-tab" data-toggle="tab" href="#print" role="tab" aria-controls="print" aria-selected="false">Print Data</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">Statistics</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="corr-tab" data-toggle="tab" href="#corr" role="tab" aria-controls="corr" aria-selected="false">Correlations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="clusters-tab" data-toggle="tab" href="#clusters" role="tab" aria-controls="clusters" aria-selected="false">Clusters</a>
                  </li>
                </ul>
                <div class="tab-content">
                  {% if dataset_files %}
                  <div class="tab-pane fade show active" id="serverfile" role="tabpanel" aria-labelledby="serverfile-tab">
                      <form action="" method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="custom-file">
							  <input type="hidden" name="formt" value="filefromserver">
                              <select name="filename" class="form-control form-control-sm">
                                  {% for fileonserver in dataset_files %}
                                    <option value="{{ fileonserver.value|safe }}">{{ fileonserver.name|safe }}</option>
                                  {% endfor %}
                              </select>
                            </div>
                            <br/><br/>
                            <input type="submit" class="btn btn-secondary btn-sm vap-controllers" value="Submit">
                      </form>
                  </div>
                   {% endif %}
                  <div class="tab-pane fade show{% if not dataset_files %} active{% endif %}" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                      <form action="" method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="custom-file">
							  <input type="hidden" name="formt" value="newfile">
                              <input type="file" class="custom-file-input" id="customFile" name="customFile">
                              <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <br/><br/>
                            <input type="submit" value="Submit">
                      </form>
                  </div>
                  <div class="tab-pane fade" id="print" role="tabpanel" aria-labelledby="print-tab">
                  </div>
                  <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                  </div>
                  <div class="tab-pane fade" id="corr" role="tabpanel" aria-labelledby="corr-tab">
                        <div id="corr-matrix">
                            <div id="legend"></div>
                        </div>
                  </div>
                  <div class="tab-pane fade" id="clusters" role="tabpanel" aria-labelledby="clusters-tab">
                        <button type="button" class="btn btn-secondary btn-sm vap-controllers" id="printBtn">Print Results</button>
{#                        <div class="pre-scrollable" id="clusters-print"></div>#}
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <br/>
          </div>
        </div>
        <div id="controls"></div>
        <div class="container">
            <div class="row">
                <div class="col-3" id="controllers">
                    <div class="card border-dark mb-3">
                        <div class="card-header">Dimensions</div>
                        <div class="card-body">
                            <form id="dimensions_form">
                                <div class="form-group form-inline vap-controllers">
                                    <select class="form-control form-control-sm text-danger" id="x_dim">
                                    </select>
                                </div>
                                <div class="form-group form-inline vap-controllers">
                                    <select class="form-control form-control-sm text-success" id="y_dim">
                                    </select>
                                </div>
                                <div class="form-group form-inline vap-controllers">
                                    <select class="form-control form-control-sm text-primary" id="z_dim">
                                    </select>
                                </div>
                                <button type="button" class="btn btn-secondary btn-sm vap-controllers" id="change_dim_btn">Change Dimensions</button>
                            </form>
                        </div>
                    </div>
                    <div class="card border-dark mb-3">
                        <div class="card-header">Clustering</div>
                        <div class="card-body">
                            <form onsubmit="add_parameters(this);" action="" id="cluster_form" method="POST">
                                {% csrf_token %}
							    <input type="hidden" name="formt" value="cluster">
                                {% if saveid %}
                                <input type="hidden" name="fdid" value="{{ saveid }}">
                                {% endif %}
                                <div class="form-group" id="clustering">
                                </div>
                                <input type="submit" class="btn btn-secondary btn-sm vap-controllers" value="Clusterize">
                            </form>
                        </div>
                    </div>
                    <div class="card border-dark mb-3">
                        <div class="card-header">Manage Spatial Scene</div>
                        <div class="card-body">
                            <form id="radius_form">
                                <div class="form-group">
                                    <label for="radiusRange">Spheres Radius</label>
                                    <input type="range" class="custom-range" min="0" max="3" step="0.1" id="radiusRange">
                                    <button type="button" class="btn btn-secondary btn-sm vap-controllers" id="changeRadiusBtn">Change Radius</button>
                                </div>
                            </form>
                            <form>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="dragControls" onchange="changeDragMode()">
                                    <label class="form-check-label" for="dragControls">Activate Drag Controls</label>
                                </div>
                              <button type="button" class="btn btn-secondary btn-sm vap-controllers" id="resetBtn">Reset Camera</button>
                          </form>
                        </div>
                    </div>
                </div>
                <div class="col-11 mainPicture" id="picture">
                    <div id="gui_container"></div>
                </div>
            </div>
        </div>
{#        <div class="container pre-scrollable" id="output"></div>#}
	</div>
{% block extra_js %}
<script src="{% static "js/three.js" %}"></script>
<script src="{% static "js/controls/OrbitControls.js" %}"></script>
<script src="{% static "js/controls/DragControls.js" %}"></script>
<script src="{% static "js/VAP/main.js" %}"></script>
<script src="{% static "js/dat.gui.min.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
{% endblock %}
	<script>
    // SETTING:
		countOfEdges=24;

        $('#tabs a').on('click', function (e) {
          e.preventDefault()
          $(this).tab('show')
        });

		function onSceneResize() {
			scene.onResize();
		}

		function changeDragMode() {
		    var dragControls = document.getElementById("dragControls");
            if (dragControls.checked) {
                scene.activateDragControl();
            } else {
                if (scene.dragEnabled) {
                    scene.deactivateDragControl();
                }
            }
        }

        $(document).ready(function() {
            $('#print-table').DataTable();
            $('#stats-table').DataTable();

        } );

		var scene=new Scene(document.getElementById("picture"), document.getElementById("controls"), document.getElementById("output"), 0.75, countOfEdges);
		animate();
		init();

		window.addEventListener( "resize", onSceneResize, false );

		function init() {
            clustering_parameters=[['KMeans', 'KMeans', {'name':'numberofcl', 'label':'Number of clusters', 'type':'number', 'attributes':[['placeholder', '5']]}],
                                    ['DBSCAN', 'DBSCAN', {'name':'min_samples', 'label':'min_samples','type':'number', 'attributes':[['placeholder', '5']]},
                                                         {'name':'eps', 'label':'eps','type':'number', 'attributes':[['placeholder','0.5']]}
                                                         ]]
            createClusterElements(document.getElementById('clustering'), clustering_parameters);

            {% if dim_names %}
            var dimNames = {{ dim_names|safe }};
            scene.setDimNames(dimNames);
            {% endif %}

            {% if index %}
            var index = {{ index|safe }};
            scene.setIndex(index);
            {% endif %}

            {% if norm_dataset %}
            var dataArray = {{ norm_dataset|safe }};
            var new_dataArray = fix_array(dataArray);
            scene.setDataArray(new_dataArray);
            {% endif %}

            {% if real_dataset %}
            var realData = {{ real_dataset|safe }};
            var new_realData = fix_array(realData);
            scene.setRealData(new_realData);
            scene.printDataset(new_realData, "print");
            {% endif %}

            {% if real_metrics %}
            var statistics_real = {{ real_metrics|safe }};
            printStats(statistics_real, dimNames);
            scene.setRealStats(statistics_real);
            {% endif %}

            {% if corr_matrix %}
            var corr_matrix = {{ corr_matrix|safe }};
            {% endif %}

            {% if visualparameters %}
            scene.loadParameters({{ visualparameters|safe }});
            {% endif %}

            {% if aux_dataset %}
            var auxData = {{ aux_dataset|safe }};
            var new_auxData = fix_array(auxData);
            scene.setAuxiliaryData(new_auxData);
            var auxNames = {{ aux_names|safe }};
            scene.setAuxiliaryColumns(auxNames);
            {% endif %}


        Matrix({
            container : '#corr-matrix',
            data      : corr_matrix,
            labels    : dimNames,
            start_color : '#ffffff',
            end_color : '#3498db'
        });

            {% if cluster_ready %}
            var clusters = {{ clusters|safe }};
            scene.clusters_color_scheme = getColorScheme(clusters);
            //scene.clusters_color_scheme = getColorScheme({{ count_of_clusters|safe }});
            {% else %}
            scene.clusters_color_scheme = [new THREE.Color(1,1,1)];
            {% endif %}
            var objects = [];
			for ( var i = 0; i < new_dataArray.length; i++ ){
                {% if cluster_ready %}
				objects.push(scene.createSphere( new_dataArray[ i ], new_realData[ i ], clusters[ i ], new_auxData[ i ]));
                {% else %}
				objects.push(scene.createSphere( new_dataArray[ i ], new_realData[ i ], 0, new_auxData[ i ] ));
				{% endif %}
			}
			scene.createControlElements();

            {% if saveid %}
                scene.setSource('{{ saveid|safe }}');
            {% endif %}

            //scene.setDragControls(objects);

		}
		function animate() {

			scene.animate();
			requestAnimationFrame( animate );

		}

        function fix_array(data) {
            var new_array = new Array(data.length);
            for (var i = 0; i < data.length; i++) {
                var values = [];
                for (var j = 0; j < data[i][1][0].length; j++) {
                    var current_item = data[i][1][0][j];
                    values[j] = current_item
                }
                new_array[i] = [data[i][0].toString(), values];
            }
            return new_array;
        }

        function printStats(stats, dimensions){
            var initial_dataset = document.getElementById("stats");
            var table = document.createElement("table");
            table.setAttribute("id", "stats-table");
            table.classList.add("table", "table-sm", "table-hover");
            var thead = document.createElement("thead");
            table.appendChild(thead);
            var row = document.createElement("tr");
            thead.appendChild(row);
            var th = document.createElement("th");
            th.innerText = "  ";
            row.appendChild(th);
            for(var i = 0; i < dimensions.length; i++ ) {
                th = document.createElement("th");
                th.innerText = dimensions[ i ].toString();
                row.appendChild(th);
            }
            var tbody = document.createElement("tbody");
            table.appendChild(tbody);
            for ( var j = 0; j < stats[ 0 ].length; j++ ) {
                var obj	= stats[ 1 ][ j ];
                row = document.createElement("tr");
                th = document.createElement("th");
                th.innerText = stats[ 0 ][ j ];
                row.appendChild(th);

                for(var i = 0; i < obj.length; i++ ) {
                    var td = document.createElement("td");
                    td.innerText = obj[ i ].toLocaleString(undefined, { maximumSignificantDigits: 3 });
                    row.appendChild(td);
                }
                tbody.appendChild(row);
            }
            initial_dataset.appendChild(table);
         }


        function Matrix(options) {
        var margin = {top: 50, right: 50, bottom: 100, left: 100},
            width = 40 * options.labels.length,
            height = 40 * options.labels.length,
            data = options.data,
            container = options.container,
            labelsData = options.labels,
            startColor = options.start_color,
            endColor = options.end_color;

        var widthLegend = 100;

        if(!data){
            throw new Error('Please pass data');
        }

        if(!Array.isArray(data) || !data.length || !Array.isArray(data[0])){
            throw new Error('It should be a 2-D array');
        }

        var maxValue = d3.max(data, function(layer) { return d3.max(layer, function(d) { return d; }); });
        var minValue = d3.min(data, function(layer) { return d3.min(layer, function(d) { return d; }); });

        var numrows = data.length;
        var numcols = data.length;

        var svg = d3.select(container).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var background = svg.append("rect")
            .style("stroke", "black")
            .style("stroke-width", "2px")
            .attr("width", width)
            .attr("height", height);

        var x = d3.scaleBand()
            .domain(d3.range(numcols))
            .rangeRound([0, width]);

        var y = d3.scaleBand()
            .domain(d3.range(numrows))
            .rangeRound([0, height]);

        var colorMap = d3.scaleLinear()
            .domain([minValue,maxValue])
            .range([startColor, endColor]);

        var row = svg.selectAll(".row")
            .data(data)
            .enter().append("g")
            .attr("class", "row")
            .attr("transform", function(d, i) { return "translate(0," + y(i) + ")"; });

        var cell = row.selectAll(".cell")
            .data(function(d) { return d; })
                .enter().append("g")
            .attr("class", "cell")
            .attr("transform", function(d, i) { return "translate(" + x(i) + ", 0)"; });

        cell.append('rect')
            .attr("width", x.bandwidth())
            .attr("height", y.bandwidth())
            .style("stroke-width", 0);

        cell.append("text")
            .attr("dy", ".32em")
            .attr("x", x.bandwidth() / 2)
            .attr("y", y.bandwidth() / 2)
            .attr("text-anchor", "middle")
            .style("fill", function(d, i) { return d >= maxValue/2 ? 'white' : 'black'; })
            .text(function(d, i) { return d.toLocaleString(undefined, { maximumSignificantDigits: 1 }); });

        row.selectAll(".cell")
            .data(function(d, i) { return data[i]; })
            .style("fill", colorMap);

        var labels = svg.append('g')
            .attr('class', "labels");

        var columnLabels = labels.selectAll(".column-label")
            .data(labelsData)
            .enter().append("g")
            .attr("class", "column-label")
            .attr("transform", function(d, i) { return "translate(" + x(i) + "," + height + ")"; });

        columnLabels.append("line")
            .style("stroke", "black")
            .style("stroke-width", "1px")
            .attr("x1", x.bandwidth() / 2)
            .attr("x2", x.bandwidth() / 2)
            .attr("y1", 0)
            .attr("y2", 5);

        columnLabels.append("text")
            .attr("x", 0)
            .attr("y", y.bandwidth() / 2)
            .attr("dy", ".82em")
            .attr("text-anchor", "end")
            .attr("transform", "rotate(-60)")
            .text(function(d, i) { return d; });

        var rowLabels = labels.selectAll(".row-label")
            .data(labelsData)
          .enter().append("g")
            .attr("class", "row-label")
            .attr("transform", function(d, i) { return "translate(" + 0 + "," + y(i) + ")"; });

        rowLabels.append("line")
            .style("stroke", "black")
            .style("stroke-width", "1px")
            .attr("x1", 0)
            .attr("x2", -5)
            .attr("y1", y.bandwidth() / 2)
            .attr("y2", y.bandwidth() / 2);

        rowLabels.append("text")
            .attr("x", -8)
            .attr("y", y.bandwidth() / 2)
            .attr("dy", ".32em")
            .attr("text-anchor", "end")
            .text(function(d, i) { return d; });

        var key = d3.select("#legend")
        .append("svg")
        .attr("width", widthLegend)
        .attr("height", height + margin.top + margin.bottom);

        var legend = key
        .append("defs")
        .append("svg:linearGradient")
        .attr("id", "gradient")
        .attr("x1", "100%")
        .attr("y1", "0%")
        .attr("x2", "100%")
        .attr("y2", "100%")
        .attr("spreadMethod", "pad");

        legend
        .append("stop")
        .attr("offset", "0%")
        .attr("stop-color", endColor)
        .attr("stop-opacity", 1);

        legend
        .append("stop")
        .attr("offset", "100%")
        .attr("stop-color", startColor)
        .attr("stop-opacity", 1);

        key.append("rect")
        .attr("width", widthLegend/2-10)
        .attr("height", height)
        .style("fill", "url(#gradient)")
        .attr("transform", "translate(0," + margin.top + ")");

        var y = d3.scaleLinear()
        .range([height, 0])
        .domain([minValue, maxValue]);

        var yAxis = d3.axisLeft(y);

        key.append("g")
        .attr("class", "y axis")
        .attr("transform", "translate(41," + margin.top + ")")
        .call(yAxis)
    }

    function add_parameters(submited_form) {
        var new_input = document.createElement('input');
        new_input.name = 'visualparameters';
        new_input.type = 'hidden';
        new_input.value = JSON.stringify(scene.saveParameters());
        submited_form.appendChild(new_input);
    }

	</script>
{% endblock %}

{% block helptext %}{% endblock %}

