/* Main  menu style*/


.top-bar {
  background: #333;
  color: #fefefe;
  padding:0;
  margin: 0;
  border: 0;
  font-size: 85%;
  z-index: 10000;
}

.top-bar-title {
    font-size: 14pt;
    color: #fefefe;
    padding-left: 15px;
}


.top-bar .menu {
  background: #333;
}

.top-bar .menu a {
  color: #fefefe;
  border: 0;
  padding-right: 15px !important;
  padding-bottom: 1rem;
  padding-top: 1rem;
  height: 100%;
}

.top-bar .menu .is-active > a {
  background: transparent;
  color: #fefefe;
}

.top-bar .menu.vertical > li {
  z-index: 10000;
}

.top-bar .submenu {
  background: #333;
}

.top-bar .menu a:hover {
  background: #272727;
}
.top-bar .submenu a:hover {
  background: #272727;
  border: 0;
}

.top-bar .is-dropdown-submenu {
  border: 0;
}

.top-bar .js-accordion-back > a::before {
  border-color: transparent #fefefe transparent transparent;
}

.top-bar .is-accordion-submenu-parent > a::after {
  border-color: transparent transparent transparent #fefefe;
}

.top-bar .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a::after {
  border: inset 3px;
  border-color: #fefefe transparent transparent;
}


.title-bar {
  background: #333;
  padding: 0.9rem;
}

.settings-button button{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  color: darkgray;
}

.settings-button button:hover{
  color: #fefefe;
}

.canvas-settings {
  background: #333;
  color: #fefefe;
  padding: 20px;
}

.canvas-settings > .menu {
  margin-bottom: 1rem;
}

.canvas-settings .menu a {
  color: rgba(254, 254, 254, 0.6);
  padding-top: 7px;
  padding-bottom: 7px;
  transition: color 0.2s ease-in;
}

.canvas-settings .menu a:hover {
  color: #fefefe;
}

.canvas-settings .is-accordion-submenu-parent > a::after {
  border-color: rgba(254, 254, 254, 0.6) transparent transparent;
}

.offCanvasRight-columns {
  padding: 0;
  margin: 0;
  background: #333;
  color: #fefefe;
  border-width: 0;
}

.bp-off-canvas-acc {
  background: #333;
  color: #fefefe;
}
.accordion {
  margin-left: 0;
  background: #333;
  list-style-type: none; }

.accordion-item:first-child > :first-child {
  border-radius: 0 0 0 0; }

.accordion-item:last-child > :last-child {
  border-radius: 0 0 0 0; }

.accordion-title {
  position: relative;
  display: block;
  padding: 1.25rem 1rem;
  border: 0px solid #e6e6e6;
  border-bottom: 0;
  font-size: 0.75rem;
  line-height: 1;
  color: #fefefe; }
  :last-child:not(.is-active) > .accordion-title {
    border-bottom: 0px solid #e6e6e6;
    border-radius: 0 0 0 0; }
  .accordion-title:hover, .accordion-title:focus {
    background-color: #333; }
  .accordion-title::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.5rem;
    content: '+'; }
  .is-active > .accordion-title::before {
    content: '\2013'; }

.accordion-content {
  display: none;
  padding: 1rem;
  border: 0px solid #e6e6e6;
  border-bottom: 0;
  background-color: #333;
  color: #fefefe; }
  :last-child > .accordion-content:last-child {
    border-bottom: 0px solid #e6e6e6; }

.off-canvas.is-open {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.off-canvas.position-right {
  width: 20%;
  right: -20%;
}

.switch-toggle-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-toggle-wrapper .switch {
  margin-bottom: 10px;
}

.switch input:checked ~ .switch-paddle {
  background: #4ba173;
}

.canvas-settings .save {
    background: #4ba173;
    color: #fefefe;
}

.top-subbar {
  background-color: #DDDDDD;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1em;
  padding-right: 1em;
  height: 1.8em;
  margin-bottom: 5px;
}

.top-subbar .right {
    float: right;
}

.top-subbar .left {
    float: left;
}

.invisible {
  display: none;
}

.menu-link {
  color: #fefefe !important;
  font-weight: normal;
  font-size: 12pt;
}

.li-text {
  padding: 0.7rem 1rem;
}

.loggeduser {
  color: #4ba173;
}

.searchbox {
  width: 16rem;
  font-size: 100%;
  margin: 0 1rem 0 1rem !important;
}

.searchselect {
  background-color: #333333;
  color: #fefefe;
  border: none;
  height: 1.6rem;
  margin-top: 0.7rem;
  font-size: 100%;
  padding-right: 1rem;
  padding-left: 0.2rem;
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
  background-size: 6px 3px;
  background-position: right -0.7rem center;
}

.searchselect:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #272727;
    box-shadow: none; }
.searchselect:disabled {
    background-color: #333333;
    cursor: not-allowed; }

.searchoption {
  background-color: #333333;
  color: #fefefe;
  text-align: right;
}
.searchoption:hover {
  background-color: #272727;
}


.searchinput {
  background-color: #444444;
  color: #fefefe;
  /*border: 1px solid #8a8a8a;*/
  border:1px solid #444444;
  border-radius: 0.2rem;
  height: 1.6rem;
  margin-top: 0.7rem;
  font-size: 100%;

}

.searchinput:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #333333;
    box-shadow: none;}

.searchbutton {
  background-color: #333;
  color: #fefefe;
}




#radar_chart_all {
    overflow: auto;
}

#radar_chart_all g.inactive path, g.active path {
    fill: none;
    stroke: lightgrey;
}

#radar_chart_all g.active path {
    stroke: #0081af;
}

#radar_chart_all g.inactive path {
    stroke-width: 0.3;
}

#radar_chart_all g.feature > text {
    transform: translateY(5px) rotate(-8deg);
}




.datatableboldcolumn{
  font-weight: bold;

}