/* Select part */
.select2-container, .select2-choice, .select2-results__option {
    font-size: 12px !important;
}

/* The SVG part */
svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: #ddd5;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}

.bold {
    stroke-width: 3;
    stroke-opacity: 1.0;
    filter: brightness(250%);
}

/* The tables part */
mark {
    background: orange;
    color: black;
}

.table-selected-line {
    background: #555 !important;
    color: #fff;
}

/* Clusters part */
.ci-button-group::before ::after{
    display: table;
    content: ' ';
    order: 1;
    clear: both;
}

.ci-button-group{
    display: flex;
    flex-wrap: wrap;
    max-height: 550px;
}

.ci-button {
    padding: 1em 1em;
    outline: 1px dashed lightgray;
    text-shadow: #000000 1px 1px 0, 0px 0px 1px rgba(215, 142, 131, 0);
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.6;
    color: #fefefe;
    width: 45px;
    height: 45px;
}

.ci-tooltip{
    border-width: 1px;
    border-radius: 0;
    -webkit-box-shadow: none;
	box-shadow: none;
    white-space: pre-line;
}